// change the theme
$theme-colors: (
  "primary": #0074d9,
  "danger": #FF6060,
  "info": #F6F6F6
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
    
body{
  margin-left: 100px;
  margin-right: 100px;
}

.cursor-pointer{
  cursor: pointer;
}