// change the theme
$theme-colors: (
  "primary": #0074d9,
  "danger": #FF6060,
  "info": #F6F6F6
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
    
.margin{
  margin-left: 100px;
  margin-right: 100px;
}

.cursor-pointer{
  cursor: pointer;
}

.place-center{
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .margin {
    margin-left: 10px;
    margin-right: 10px;
  }
}